@page "/"

<PageTitle>Index</PageTitle>

<AuthorizeView Roles="Admin">

    <Authorized>
        <p>Estas autenticado, @context.User.Identity?.Name </p>
    </Authorized>
   

</AuthorizeView>

<link href="_content/Blazored.Modal/blaored-modal-css" rel="stylesheet"/>
<h1>Fume!!</h1>


Welcome!!

<SurveyPrompt Title="How is Blazor working for you?" />
