@page "/cities/edit/{CityId:int}"
@inject IRepository repository
@inject NavigationManager navigationmanager
@inject SweetAlertService sweetalertservice

<h3>Editar Ciudad:</h3>

@if (city is null)
{
    <p>Cargando...</p>

}
else
{
    <CityForm @ref="cityForm" city="city" OnValidSubmit="EditAsync" ReturnAction="Return" />
}

@code {
    private City? city;
    private CityForm? cityForm;

    [Parameter]
    public int CityId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHttp = await repository.Get<City>($"/api/cities/{CityId}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationmanager.NavigateTo("/countries");
                return;
            }
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetalertservice.FireAsync("ERROR!!", message, SweetAlertIcon.Error);
            return;

        }
        city = responseHttp.Response;
    }
    private async Task EditAsync()
    {
        var responseHttp = await repository.Put("/api/cities", city);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetalertservice.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        cityForm!.FormPostedSuccessfully = true;
        navigationmanager.NavigateTo("/countries");
        await sweetalertservice.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "Guardado Con Éxito",
                Icon = SweetAlertIcon.Success,
               
            });

    }

    private void Return()
    {
        cityForm!.FormPostedSuccessfully = true;
        navigationmanager.NavigateTo($"/states/details/{city!.StateId}");
    }

}